.container {
  background-color: var(--background-dark);
}

.mainContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-lg);
}
