.container {
  background-color: var(--surface-dark);
}

.mainContent {
  display: flex;
  gap: calc(2 * var(--gap-lg));
  justify-content: space-evenly;
  padding: calc(2 * var(--padding-lg)) calc(2 * var(--padding-xl));
}

.colum1 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

.description {
  color: var(--text-gray);
  font-size: 1rem;
}

.socialLinks {
  display: flex;
  gap: var(--gap-md);
  color: white;
  font-size: 1.5rem;
}

.socialLink {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: var(--border-radius-full);
  background-color: var(--secondary-color);
  padding: var(--padding-sm);
  width: fit-content;
  transition: all 0.5s ease;
}

.socialLink:hover {
  background-color: var(--primary-color);
  transition: all 0.5s ease;
}

.colum2,
.colum3,
.colum4 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  color: white;
}

.title {
  font-weight: bold;
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  color: var(--text-gray);
  font-size: 1rem;
}

.link {
  color: var(--text-gray);
}

.row {
  display: flex;
  gap: var(--gap-md);
}

.icon {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--primary-color);
  width: fit-content;
}

.text {
  font-size: 1rem;
  color: var(--text-gray);
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
    padding: var(--padding-lg);
  }
}

@media (min-width: 768px) {
  .mainContent{
    flex-direction: column;
  }
}