.container {
  margin: var(--margin-container);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.description {
  font-size: 1rem;
  color: var(--text-gray);
}

.textContainer {
  color: white;
}

.cardsContainer {
  display: flex;
  gap: var(--gap-xxl);
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--surface-dark);
  border: 1px solid rgb(31, 41, 55, 1);
  border-radius: calc(2 * var(--border-radius-xl));
  width: 100%;
  height: 100%;
  padding: var(--padding-md);
  box-shadow: var(--box-shadow-secondary);
  transition: all 0.5s ease;
}

.card:hover {
  box-shadow: var(--box-shadow-primary);
  transition: all 0.5s ease;
}

.cardTop {
  content: "";
}

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: calc(2 * var(--border-radius-xl));
}

.cardBottom {
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  color: white;
}

.date {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
  color: var(--text-gray);
}

.dateIcon {
  font-size: 1rem;
}

.dateText {
  font-size: 0.75rem;
}

.cardTitle {
  font-weight: bold;
}

.cardDescription {
  color: var(--text-gray);
  font-size: 0.75rem;
}

.cardDetails {
  text-align: center;
  background-color: rgb(31, 41, 55, 1);
  padding: var(--padding-sm);
  border-radius: var(--border-radius-lg);
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  transition: all 0.5s ease;
}

.cardDetails:hover {
  background-color: var(--secondary-color);
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  .container {
    margin: var(--margin-lg);
    margin-top: var(--margin-xl);
  }
  .cardsContainer {
    flex-direction: column;
    padding: var(--padding-md);
  }
  .title {
    font-size: 1.25rem;
  }
}
