.container {
  margin: var(--margin-container);
}

.mainContent {
  content: "";
}

.card {
  display: flex;
  background-color: var(--surface-dark);
  border: 1px solid rgb(31, 41, 55, 1);
  border-radius: calc(2 * var(--border-radius-xl));
  padding: var(--padding-lg);
  box-shadow: var(--box-shadow-secondary);
  gap: var(--gap-xxl);
  align-items: center;
  filter: grayscale(60%);
  transition: box-shadow 0.3s ease, filter 0.5s ease;
}

.card:has(.showIcon:hover) {
  filter: grayscale(0%);
  transition: filter 0.5s ease, box-shadow 0.3s ease;
  box-shadow: var(--box-shadow-primary);
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

.imageContainer {
  width: 200px;
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}

.eventDetailsContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-lg);
  flex: 1;
}

.dateContainer {
  display: flex;
  gap: var(--gap-md);
  color: var(--primary-color);
  font-weight: bold;
  align-items: center;
}

.dateIcon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.dateText {
  font-size: 1rem;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.cardDescription {
  font-size: 1rem;
  color: var(--text-gray);
  width: 90%;
  line-height: 1.625;
}

.titleContainer {
  display: flex;
  gap: var(--gap-md);
  align-items: center;
  margin-bottom: var(--margin-lg);
}

.titleLine {
  width: 5px;
  height: 30px;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--box-shadow-primary);
}

.title {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.divider {
  height: 200px;
  width: 1px;
  background-color: rgb(255 255 255 / 0.05);
}

.showIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  border-radius: var(--border-radius-full);
  background-color: var(--primary-color);
  padding: var(--padding-sm);
  width: fit-content;
  height: fit-content;
  margin-right: auto;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.pageBtn {
  background: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.pageBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pageNumber {
  border: 1px solid rgb(31, 41, 55, 1);
  background: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.activePage {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .container {
    margin: 0;
  }
  .mainContent {
    margin: var(--margin-md);
  }
  .titleContainer {
    margin: var(--margin-md);
    margin-top: var(--margin-xl);
  }
  .card {
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .imageContainer {
    width: 100%;
    height: 100%;
  }
  .divider {
    height: 1px;
    width: 100%;
  }
  .showIcon {
    margin-right: 0;
  }
  .cardDescription {
    width: 100%;
  }
}
