.container {
  margin: 80px 250px;
}

.cardContent {
  display: flex;
  gap: 50px;
  background-color: var(--surface-dark);
  padding: 3rem;
  border-radius: 40px;
  border: 1px solid rgb(31, 41, 55, 1);
  overflow: hidden;
  box-shadow: var(--box-shadow-secondary);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardContent:hover {
  box-shadow: var(--box-shadow-primary);
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.topTitle {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1rem;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.coloredTitle {
  color: var(--primary-color);
  display: block;
}

.description {
  color: var(--text-gray);
  line-height: 1.625;
  font-size: 1rem;
  text-align: justify;
}

.missionContainer {
  display: flex;
  gap: 1.5rem;
}

.iconContainer {
  width: fit-content;
}

.icon {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 30px;
  font-size: 18px;
  color: rgb(147, 197, 253, 1);
  background-color: rgb(30 58 138 / 0.2);
}

.missionTextContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.missionTitle {
  color: white;
  font-weight: bold;
}

.missionDescription {
  color: var(--text-gray);
}

.imageContainer {
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  padding: 1.5rem;
  gap: 6px;
  position: relative;
}

.imageContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to top,
    var(--secondary-color) 0%,
    transparent 100%
  );
  z-index: 1;
  border-radius: 40px;
}

@media (max-width: 768px) {
  .container {
    margin: 20px;
    margin-top: 50px;
  }
  .cardContent {
    flex-direction: column;
    padding: 2rem;
  }
  .leftContent {
    gap: 1rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .description {
    text-align: left;
  }
  .missionContainer {
    /* flex-direction: column; */
  }
  .imageContainer {
    width: 300px;
    height: 300px;
    padding: 0;
  }
}
