.container {
  margin: var(--margin-container);
}

.cardContent {
  display: flex;
  gap: calc(2 * var(--gap-xl));
  background-color: var(--surface-dark);
  padding: var(--padding-xl);
  border-radius: calc(2 * var(--border-radius-xl));
  border: 1px solid rgb(31, 41, 55, 1);
  overflow: hidden;
  box-shadow: var(--box-shadow-secondary);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardContent:hover {
  box-shadow: var(--box-shadow-primary);
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xl);
}

.topTitle {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1rem;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.coloredTitle {
  color: var(--primary-color);
  display: block;
}

.description {
  color: var(--text-gray);
  line-height: 1.625;
  font-size: 1rem;
  text-align: justify;
}

.missionContainer {
  display: flex;
  gap: var(--gap-xl);
}

.iconContainer {
  width: fit-content;
}

.icon {
  display: flex;
  align-items: center;
  padding: var(--padding-md);
  border-radius: var(--border-radius-xl);
  font-size: 18px;
  color: rgb(147, 197, 253, 1);
  background-color: rgb(30 58 138 / 0.2);
}

.missionTextContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.missionTitle {
  color: white;
  font-weight: bold;
}

.missionDescription {
  color: var(--text-gray);
}

.imageContainer {
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: calc(2 * var(--border-radius-md));
  padding: var(--padding-lg);
  gap: var(--gap-md);
  position: relative;
}

.imageContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to top,
    var(--secondary-color) 0%,
    transparent 100%
  );
  z-index: 1;
  border-radius: calc(2 * var(--border-radius-md));
}

.rightContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    margin: var(--margin-lg);
    margin-top: var(--margin-xl);
  }
  .cardContent {
    flex-direction: column;
    padding: calc(2 * var(--padding-md));
  }
  .leftContent {
    gap: var(--gap-lg);
  }
  .title {
    font-size: 1.5rem;
  }
  .description {
    text-align: left;
  }
  .missionContainer {
    content: "";
  }
  .imageContainer {
    width: 300px;
    height: 300px;
  }
}
