.container {
  margin: var(--margin-container);
}

.mainContent {
  display: flex;
  margin: calc(3 * var(--margin-xxl)) 0;
}

.leftSide {
  display: flex;
  align-items: center;
  flex: 5;
}

.imageContainer {
  box-shadow: var(--box-shadow-secondary);
}

.image {
  border-radius: var(--border-radius-md);
}

.rightSide {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  flex: 7;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.description {
  color: var(--text-gray);
}

.coloredTitle {
  color: var(--primary-color);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-lg);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  color: white;
  background-color: var(--surface-dark);
  border-radius: calc(2 * var(--border-radius-md));
  padding: var(--padding-lg);
  border: 1px solid rgb(31, 41, 55, 1);
  box-shadow: var(--box-shadow-secondary);
  transition:
    box-shadow 0.3s ease,
    transform 0.5s ease;
}

.card:hover {
  box-shadow: var(--box-shadow-primary);
  transition: box-shadow 0.3s ease;
}

.card:hover .cardIcon {
  transform: rotate(360deg);
}

.cardIcon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: var(--border-radius-full);
  background-color: var(--primary-color);
  padding: var(--padding-sm);
  width: fit-content;
  transition: transform 0.5s ease;
}

.cardTitle {
  font-size: 1rem;
  font-weight: bold;
}

.cardDescription {
  color: var(--text-gray);
  font-size: 1rem;
}

@media (max-width: 768px) {
  .container {
    margin: var(--margin-sm) var(--margin-xl);
  }
  .mainContent {
    flex-direction: column;
    gap: var(--gap-xxl);
    margin: var(--margin-xxl) 0;
  }
  .image {
    width: 100%;
    height: 100%;
  }
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap-xl);
  }
  .title {
    font-size: 1.5rem;
  }
}
