.container {
  margin: var(--margin-container);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  align-items: center;
  background: radial-gradient(
      circle at top right,
      #ff8c00 -20%,
      transparent 25%
    ),
    radial-gradient(circle at bottom left, #ff8c00 -20%, transparent 25%),
    #001f3f;
  padding: var(--padding-xxl);
  border-radius: var(--border-radius-lg);
  border: 1px solid rgb(31, 41, 55, 1);
}

.title {
  font-size: 2rem;
  color: white;
}

.description {
  text-align: center;
  color: var(--text-gray);
  font-size: 1rem;
  width: 40%;
}

.applicationFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  padding: var(--padding-md);
  background-color: var(--primary-color);
  width: 200px;
  border-radius: var(--border-radius-lg);
}

.applicationFormContainer:hover {
  background-color: none;
}

.text {
  color: white;
  font-weight: bold;
}

.icon {
  font-size: 1rem;
  color: white;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    margin: var(--margin-xl);
  }
  .mainContent {
    margin-top: var(--margin-lg);
  }
  .title {
    font-size: 1.5rem;
    text-align: center;
  }
  .description {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: var(--margin-container-sm);
  }
}
