.container {
  margin: var(--margin-container);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxl);
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-sm);
}

.title {
  color: white;
  font-size: 3rem;
}

.coloredTitle {
  color: var(--primary-color);
}

.description {
  color: var(--text-gray);
  font-size: 1rem;
  text-align: center;
  width: 80%;
}

@media (max-width: 768px) {
  .container {
    margin: var(--margin-sm) var(--margin-xl);
  }
  .mainContent {
    gap: var(--gap-sm);
  }
  .textContainer {
    text-align: center;
    gap: var(--gap-md);
  }
  .title {
    font-size: 2rem;
  }
  .description {
    width: 100%;
  }
  .cardContainer {
    margin-top: var(--margin-lg);
  }
}

@media (min-width: 768px) {
  .container {
    margin: var(--margin-sm) var(--margin-xl);
  }
  .title {
    text-align: center;
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: var(--margin-container-sm);
    margin-top: var(--margin-sm);
  }
}
