.container {
  margin: var(--margin-container);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.description {
  font-size: 1rem;
  color: var(--text-gray);
}

.cardContainer {
  display: flex;
  gap: var(--gap-lg);
}

.missionContainer,
.visionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  color: white;
  background-color: var(--surface-dark);
  border-radius: calc(2 * var(--border-radius-md));
  padding: var(--padding-xl);
  border: 1px solid rgb(31, 41, 55, 1);
  max-width: 600px;
  box-shadow: var(--box-shadow-secondary);
  transition: all 0.3s ease;
}

.missionContainer:hover,
.visionContainer:hover {
  box-shadow: var(--box-shadow-primary);
  transition: all 0.3s ease;
}

.missionContainer:hover .cardIcon,
.visionContainer:hover .cardIcon {
  transform: rotate(360deg);
}

.cardIcon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: var(--border-radius-full);
  background-color: var(--primary-color);
  padding: var(--padding-sm);
  width: fit-content;
  transition: transform 0.5s ease;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

.cardDescription {
  font-size: 1rem;
  color: var(--text-gray);
}

@media (max-width: 768px) {
  .container {
    margin: 0;
    margin-top: var(--margin-xl);
  }
  .mainContent {
    flex-direction: column;
    margin: var(--margin-md);
  }
  .cardContainer {
    flex-direction: column;
  }
  .missionContainer,
  .visionContainer {
    padding: var(--padding-lg);
  }
}
