.cards {
  content: "";
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-xl);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  color: white;
  background-color: var(--surface-dark);
  border-radius: calc(2 * var(--border-radius-md));
  padding: var(--padding-lg);
  border: 1px solid rgb(31, 41, 55, 1);
  box-shadow: var(--box-shadow-secondary);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: var(--box-shadow-primary);
  transition: box-shadow 0.3s ease;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: var(--border-radius-full);
  background-color: var(--primary-color);
  padding: var(--padding-sm);
  width: fit-content;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
}

.description {
  font-size: 1rem;
  color: var(--text-gray);
}

@media (max-width: 768px) {
  .cards {
    margin-top: var(--margin-xl);
  }
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
