.cards {
  margin: 80px 250px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  color: white;
  background-color: var(--surface-dark);
  border-radius: 40px;
  padding: 1.5rem;
  border: 1px solid rgb(31, 41, 55, 1);
  box-shadow: var(--box-shadow-secondary);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: var(--box-shadow-primary);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 50%;
  background-color: var(--primary-color);
  padding: 10px;
  width: fit-content;
}

.title {
  font-weight: bold;
  font-size: 1rem;
}

.description {
  font-size: 14px;
  color: var(--text-gray);
}

@media (max-width: 768px) {
  .cards {
    margin: 20px;
    margin-top: 40px;
  }
  .cardContainer {
    flex-direction: column;
  }
  .card {
    width: 80%;
  }
}
