.cards {
  content: "";
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-xl);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  color: white;
  background-color: var(--surface-dark);
  border-radius: calc(2 * var(--border-radius-md));
  padding: var(--padding-lg);
  border: 1px solid rgb(31, 41, 55, 1);
  box-shadow: var(--box-shadow-secondary);
  transition:
    box-shadow 0.3s ease,
    transform 0.5s ease;
}

.card:hover {
  box-shadow: var(--box-shadow-primary);
  transition: box-shadow 0.3s ease;
}

.card:hover .icon {
  transform: rotate(360deg);
}

.icon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: var(--border-radius-full);
  /* background-color: var(--primary-color); */
  background-color: yellow;
  padding: var(--padding-sm);
  width: fit-content;
  transition: transform 0.5s ease;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
}

.description {
  font-size: 1rem;
  color: var(--text-gray);
}

.cardTitleIcon {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: var(--gap-md);
  margin-top: auto;
  color: var(--primary-color);
  font-weight: bold;
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
