.container {
  margin: var(--margin-container);
}

@media (max-width: 768px) {
  .container {
    margin: var(--margin-lg);
  }
}

@media (min-width: 1024px) {
  .container {
    margin: var(--margin-container-sm);
  }
}
