.container {
  display: flex;
  gap: var(--gap-lg);
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(31, 41, 55, 1);
  border-radius: var(--border-radius-xl);
  padding: var(--padding-md);
  width: fit-content;
  box-shadow: var(--box-shadow-secondary);
}

.countdown {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.numberOfDate {
  text-align: center;
}

.eventStartedText {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  border-radius: var(--border-radius-full);
  padding: var(--padding-sm);
  box-shadow: var(--box-shadow-green);
}
