.container {
  margin: var(--margin-container);
}

.mainContent {
  display: flex;
  justify-content: space-between;
  background-color: var(--surface-dark);
  padding: var(--padding-xl);
  border: 1px solid rgb(31, 41, 55, 1);
  border-radius: calc(2 * var(--border-radius-xl));
  box-shadow: var(--box-shadow-secondary);
  transition: box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}

.mainContent:hover {
  box-shadow: var(--box-shadow-green);
  transition: box-shadow 0.3s;
}

.mainContent::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -10%;
  width: 50%;
  height: 60%;
  background: radial-gradient(
    circle,
    rgba(56, 189, 248, 0.1) 0%,
    rgba(56, 189, 248, 0) 70%
  );
  pointer-events: none;
}

.mainContent::after {
  content: "";
  position: absolute;
  top: -15%;
  right: -10%;
  width: 40%;
  height: 50%;
  background: radial-gradient(
    circle,
    rgba(56, 189, 248, 0.1) 0%,
    rgba(56, 189, 248, 0) 70%
  );
  pointer-events: none;
  z-index: 1;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  justify-content: center;
  margin-left: var(--margin-lg);
}

.subTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  background-color: rgb(34 197 94 / 0.2);
  width: fit-content;
  padding: var(--padding-md);
  border-radius: var(--border-radius-full);
  text-align: center;
  color: white;
}

.subTitleIcon {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--brand-green);
  border-radius: var(--border-radius-full);
  animation: pulse-animation 2s infinite;
}

.subTitleText {
  font-size: 1rem;
  font-weight: bold;
  color: var(--brand-green);
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.coloredTitle {
  display: block;
  color: var(--brand-green);
  font-weight: bold;
}

.description {
  width: 450px;
  color: white;
}

.buttonsContainer {
  display: flex;
  gap: var(--gap-xl);
}

.reservationButton,
.detailsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
  padding: var(--padding-md);
  border-radius: var(--border-radius-full);
  background-color: var(--brand-green);
  width: 100%;
}

.reservationButton {
  box-shadow: var(--box-shadow-green);
  color: rgb(17, 23, 20, 1);
}

.detailsButton {
  background-color: var(--brand-navy);
}
.detailsButtonText,
.detailsButtonIcon {
  color: white;
}

.reservationButtonText,
.detailsButtonText {
  font-weight: bold;
  font-size: 1rem;
}

.reservationButtonIcon,
.detailsButtonIcon {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.eventDetailsContainer {
  display: flex;
  margin-top: var(--margin-lg);
  gap: calc(2 * var(--gap-xxl));
}

.dateContainer,
.locationContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.dateText,
.locationText {
  text-align: center;
  color: var(--brand-green);
  font-weight: bold;
  font-size: 1rem;
}

.date,
.location {
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.rightSide {
  margin-right: var(--margin-lg);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

.imageContainer {
  border: 5px solid rgb(18, 26, 33, 1);
  border-radius: var(--border-radius-lg);
  transform: rotateZ(2deg);
  transition: transform ease 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
}

.imageContainer:hover {
  transform: rotateZ(0);
  transition: transform ease 0.5s;
}

.image {
  border-radius: var(--border-radius-md);
  width: 100%;
  height: auto;
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 var(--brand-green);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 2px var(--brand-green);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 var(--brand-green);
  }
}

@media (max-width: 768px) {
  .container {
    margin: var(--margin-lg);
  }
  .mainContent {
    flex-direction: column;
    gap: var(--gap-xxl);
    align-items: center;
    padding: var(--padding-lg);
  }
  .mainContent::before,
  .mainContent::after {
    display: none;
  }
  .mainContent:hover {
    box-shadow: var(--box-shadow-secondary);
  }
  .leftSide {
    gap: var(--gap-xl);
    margin-left: 0;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    width: fit-content;
  }
  .date,
  .location {
    text-align: center;
  }
  .buttonsContainer {
    flex-direction: column;
  }
  .reservationButton,
  .detailsButton {
    width: 90%;
  }
  .eventDetailsContainer {
    gap: var(--margin-lg);
  }
  .rightSide {
    width: 300px;
    height: 400px;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: var(--margin-container-sm);
    margin-top: var(--margin-sm);
  }
  .leftSide {
    margin-left: 0;
  }
  .rightSide {
    margin-right: 0;
  }
  .image {
    width: 100%;
    height: auto;
  }
  .title {
    font-size: 3rem;
  }
}
