.container {
  margin: var(--margin-container);
}

.mainContent {
  gap: var(--gap-lg);
  background-color: rgb(8, 18, 26, 1);
  padding: var(--padding-xl);
  border: 1px solid rgb(31, 41, 55, 1);
  border-radius: var(--border-radius-xl);
  box-shadow: var(--box-shadow-secondary);
}

.textContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);
  margin-bottom: calc(2 * var(--margin-md));
}

.subTitle {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.description {
  color: var(--text-blue);
  text-align: center;
}

.cards {
  margin: 0 !important;
}

@media (max-width: 768px) {
  .container {
    margin: var(--margin-lg);
    margin-top: var(--margin-xl);
  }
  .mainContent {
    padding: var(--padding-lg);
  }
  .cardContainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .textContainer {
    align-items: start;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    text-align: left;
    text-wrap-style: balance;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: var(--margin-container-sm);
  }
}
