.header {
  display: flex;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxl);
  color: white;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  background-color: rgb(0 31 63 / 0.4);
  width: fit-content;
  padding: var(--padding-md);
  border-radius: var(--border-radius-full);
  text-align: center;
}

.notificationText {
  font-weight: bold;
  font-size: 1rem;
  color: rgb(191, 219, 254, 1);
}

.title {
  width: 650px;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.25;
}

.coloredTitle {
  color: var(--primary-color);
}

.description {
  font-size: 1rem;
  width: 500px;
  line-height: 1.625;
}

.buttons {
  display: flex;
  gap: var(--gap-xl);
}

.joinCommunityButtonContainer,
.videoButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
  padding: var(--padding-md);
  border-radius: var(--border-radius-full);
  color: white;
}

.joinCommunityButtonContainer {
  background-color: rgb(0 31 63 / 0.4);
  transition: all 0.5s ease;
}

.joinCommunityButtonContainer:hover {
  background-color: var(--primary-color);
  transition: all 0.5s ease;
}

.joinCommunityButton,
.videoButton {
  font-weight: bold;
  font-size: 1rem;
}

.videoButtonContainer {
  border: 1px solid rgb(55, 65, 81, 1);
  transition: all 0.5s ease;
}

.videoButtonContainer:hover {
  background-color: var(--primary-color);
  transition: all 0.5s ease;
}

.joinCommunityButtonIcon,
.videoButtonIcon {
  display: flex;
  align-items: center;
}

.joinCommunityButtonIcon {
  font-size: 1rem;
}

.videoButtonIcon {
  font-size: 1.25rem;
}

.activeMembersContainer {
  display: flex;
  gap: var(--gap-md);
}

.activeMemberAvatars {
  display: flex;
}

.activeMemberAvatar {
  content: "";
}

.firstActiveMemberAvatar img {
  border-radius: var(--border-radius-full);
}

.activeMemberAvatar img {
  border-radius: var(--border-radius-full);
}

.lastActiveMemberAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 31, 63, 1);
  border-radius: var(--border-radius-full);
  font-size: 1rem;
  font-weight: bold;
  width: 45px;
  height: 45px;
}

.activeMembersText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.rightSide {
  border: 5px solid var(--secondary-color);
  border-radius: var(--border-radius-lg);
}

.imageContainer {
  transform: rotateZ(2deg);
  transition: transform ease 0.5s;
  position: relative;
}

.imageContainer:hover {
  transform: rotateZ(0deg);
  transition: transform ease 0.5s;
}

.image {
  width: 550px;
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius-md);
}

.nextEventContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-xl);
  position: absolute;
  bottom: 5%;
  left: 7%;
  background-color: rgb(18 26 33 / 0.9);
  padding: var(--padding-md);
  width: 80%;
  border-radius: var(--border-radius-lg);
}

.nextEventIcon {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: var(--border-radius-full);
  background-color: var(--primary-color);
  padding: var(--padding-sm);
}

.nextEventText {
  color: white;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: bold;
}

.coloredText {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .container {
    margin: var(--margin-lg);
  }
  .notification {
    width: auto;
  }
  .title {
    font-size: 2rem;
    width: 100%;
  }
  .description {
    width: 100%;
  }
  .buttons {
    flex-direction: column;
    gap: var(--gap-lg);
  }
  .header {
    flex-direction: column;
  }
  .rightSide {
    margin-top: calc(2 * var(--margin-md));
    width: 100%;
    height: auto;
  }
  .image {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: var(--margin-container-sm);
    margin-top: var(--margin-sm);
  }
  .title {
    font-size: 3.5rem;
    width: 500px;
  }
}
