.container {
  background-color: var(--surface-dark);
  padding: 0 !important;
  margin: 0 !important;
}

.mainContent {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  padding: 40px 80px;
}

.colum1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description {
  color: var(--text-gray);
  font-size: 0.75rem;
}

.socialLinks {
  display: flex;
  gap: 10px;
  color: white;
  font-size: 1.5rem;
}

.socialLink {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 50%;
  background-color: var(--secondary-color);
  padding: 10px;
  width: fit-content;
  transition: all 0.5s ease;
}

.socialLink:hover {
  background-color: var(--primary-color);
  transition: all 0.5s ease;
}

.colum2,
.colum3,
.colum4 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
}

.title {
  font-weight: bold;
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--text-gray);
  font-size: 0.75rem;
}

.row {
  display: flex;
  gap: 10px;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--primary-color);
  width: fit-content;
}

.text {
  font-size: 0.75rem;
  color: var(--text-gray);
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .mainContent{
    flex-direction: column;
  }
}
