.container {
  margin: var(--margin-container);
}

.mainContent {
  display: flex;
  align-items: center;
  gap: calc(2 * var(--gap-xl));
  background-color: var(--surface-dark);
  padding: var(--padding-xl);
  border-radius: calc(2 * var(--border-radius-xl));
  border: 1px solid rgb(31, 41, 55, 1);
  overflow: hidden;
  box-shadow: var(--box-shadow-secondary);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.mainContent:hover {
  box-shadow: var(--box-shadow-primary);
  transition: all 0.3s ease;
}

.mainContent::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -10%;
  width: 50%;
  height: 60%;
  background: radial-gradient(
    circle,
    rgba(56, 189, 248, 0.1) 0%,
    rgba(56, 189, 248, 0) 70%
  );
  pointer-events: none;
}

.mainContent::after {
  content: "";
  position: absolute;
  top: -15%;
  right: -10%;
  width: 40%;
  height: 50%;
  background: radial-gradient(
    circle,
    rgba(56, 189, 248, 0.1) 0%,
    rgba(56, 189, 248, 0) 70%
  );
  pointer-events: none;
  z-index: 1;
}

.leftSide {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xl);
}

.subTitleContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}

.line {
  width: 1rem;
  height: 1px;
  background-color: var(--primary-color);
}

.subTitle {
  color: var(--primary-color);
  font-size: 1rem;
  letter-spacing: 2px;
}

.title,
.titleColoredText {
  font-weight: bold;
  font-size: 3rem;
}

.titleColoredText {
  color: var(--primary-color);
  display: block;
}

.description2,
.description3 {
  color: var(--text-gray);
}

.divider {
  background-color: var(--text-gray);
  opacity: 0.1;
  width: 100%;
  height: 1px;
}

.numbersAndUs {
  display: flex;
  gap: calc(2 * var(--gap-xxl));
  width: 500px;
}

.activeMembers,
.events,
.projects {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.text {
  font-weight: bold;
  font-size: 1.5rem;
}

.coloredText {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
}

.rightSide {
  display: flex;
}

.imageContainer {
  position: relative;
  border-radius: var(--border-radius-lg);
}

.image {
  border-radius: var(--border-radius-md);
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    margin: var(--margin-lg);
  }
  .mainContent {
    flex-direction: column;
    padding: var(--padding-lg);
  }
  .mainContent::before,
  .mainContent::after {
    display: none;
  }
  .line {
    display: none;
  }
  .title,
  .titleColoredText {
    font-size: 2rem;
  }
  .leftSide {
    gap: var(--gap-lg);
  }
  .numbersAndUs {
    gap: var(--gap-xxl);
  }
}

@media (min-width: 1024px) {
  .container {
    margin: var(--margin-container-sm);
    margin-top: var(--margin-sm);
  }
  .leftSide {
    gap: var(--gap-lg);
  }
  .title,
  .titleColoredText {
    font-size: 2.5rem;
  }
}
