:root {
  --primary-color: #ff8c00;
  --secondary-color: #001f3f;
  --background-dark: #0a0f14;
  --surface-dark: #121a21;
  --brand-green: #38e07b;
  --brand-navy: #1c2a33;
  --orange-background: #82420c;
  --text-gray: rgb(156, 163, 175, 1);
  --text-blue: rgb(219, 234, 254, 1);
  --text-orange: #ffbb32;
  --box-shadow-primary: 0 5px 10px var(--primary-color);
  --box-shadow-secondary: 0 5px 10px var(--secondary-color);
  --box-shadow-green: 0 4px 14px 0 var(--brand-green);
  --margin-container: 50px 250px;
  --margin-container-md: 50px 200px;
  --margin-container-sm: 50px 150px;
  --margin-container-xs: 50px 100px;
  --gap-sm: 4px;
  --gap-md: 8px;
  --gap-lg: 16px;
  --gap-xl: 24px;
  --gap-xxl: 32px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 24px;
  --border-radius-full: 9999px;
  --padding-xs: 4px;
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 24px;
  --padding-xl: 48px;
  --padding-xxl: 64px;
  --padding-xs: 4px;
  --margin-xs: 4px;
  --margin-sm: 8px;
  --margin-md: 16px;
  --margin-lg: 24px;
  --margin-xl: 48px;
  --margin-xxl: 64px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}
