.container {
  margin: var(--margin-container);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
}

.subTitle {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.title {
  font-size: 1rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.description {
  color: var(--text-gray);
  font-size: 1rem;
}

.cardContainer {
  display: flex;
  gap: var(--gap-lg);
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 350px;
  padding: var(--padding-lg);
  gap: var(--gap-lg);
  border: 1px solid rgb(31, 41, 55, 1);
  border-radius: var(--border-radius-lg);
  color: white;
  background-color: var(--surface-dark);
  box-shadow: var(--box-shadow-secondary);
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: var(--box-shadow-primary);
  transition: box-shadow 0.3s ease, transform 0.5s ease;
  transform: translateY(-10px);
}

.card:hover .cardIcon {
  transform: rotate(360deg);
  transition: transform 0.5s ease;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(
    to top,
    var(--secondary-color) 0%,
    transparent 100%
  );
  z-index: 1;
  border-radius: var(--border-radius-lg);
}

.cardImage {
  align-self: center;
}

.cardIcon {
  margin-top: auto;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border-radius: var(--border-radius-full);
  background-color: var(--primary-color);
  padding: var(--padding-sm);
  width: fit-content;
  transition: transform 0.5s;
  z-index: 2;
}

.cardTitleAndIcon {
  display: flex;
  gap: var(--gap-md);
  min-height: 50px;
  align-items: center;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  z-index: 2;
}

.cardTitleIcon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  z-index: 2;
  margin-left: auto;
  color: white;
}

@media (max-width: 768px) {
  .container {
    margin: 0;
    margin-top: var(--margin-xl);
  }
  .mainContent {
    flex-direction: column;
    margin: var(--margin-md);
  }
  .cardContainer {
    flex-direction: column;
    gap: var(--gap-xxl);
  }
  .card {
    width: 310px;
    height: 350px;
  }
  .description {
    text-align: center;
  }
  .cardTitleAndIcon {
    min-height: 0;
  }
}
